/* css */
html { width: 100%; height: 100%; }
body,ul,p { margin:0; padding:0; }
body { background-color:#F2F2F2; background-size:cover; background-repeat: no-repeat; width: 100%; height: 100%; overflow: hidden; background-image: url(bgImg/bing.jpg); }
li { list-style:none; }
img { vertical-align:top; }

#main { width:1080px; margin:0px auto; -ms-transition: .7s; transition: .7s; }

#search { text-align:center; position:relative; margin: 0 0 40px; padding-top: 40px; }
#search img{ width:30px; height:30px; border-radius:5px; }
#search input{ width:500px; height:30px; outline:none; border:none; font-size:20px; line-height:28px; margin-left:5px; background:url(imgs/s.png) no-repeat 5px center #FFFFFF; background-size:18px 18px; text-indent:27px; border-radius:8px; }
#search ul { width:500px; position:absolute; left:311px; top:72px;  display:none; z-index:99; background-color: rgba(242,242,242,0.96); border-radius: 8px; }
#search li { height:30px; font-size:20px; line-height:28px; text-align:left; text-indent:26px; cursor:default; display:block; text-decoration:none; color:#2ECC71; }
#search li:hover { background-color:#2ECC71; color: white; }

#content { position:relative; }
#content span { position:absolute; width:50px; height:28px; line-height:28px; font-size:18px; text-align:center; left:-50px; background:#22AB39; }
.nav { text-align:center; margin-top:20px; position: relative; }
.nav:after { content:''; display:block; clear:both; }
.nav li { float:left; width:80px; height:98px; margin:20px 20px; cursor:pointer; }
.nav img{ width:80px; height:80px; border-radius:10px; }
.nav img:hover { box-shadow: 0 0 15px #1ABC9C; }
.nav p { height:18px; font:12px/18px "微软雅黑"; margin-top:5px; color:#929292; }

